Week 6/Problem-01_SHIR-Local-to-SQL/CopyCSVToSQLPipeline.json
{"$schema":"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"factoryName":{"type":"string","metadata":"Data Factory name"},"azureSqlDbLS":{"type":"string"},"localFileSystemLS":{"type":"string"}},"variables":{"factoryId":"[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"},"resources":[{"name":"[concat(parameters('factoryName'), '/CopyCSVToSQLPipeline')]","type":"Microsoft.DataFactory/factories/pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"CopyTransactionsData","type":"Copy","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":3,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"DelimitedTextSource","storeSettings":{"type":"FileServerReadSettings","recursive":true,"modifiedDatetimeStart":{"value":"@pipeline().parameters.lastLoadedDate","type":"Expression"},"enablePartitionDiscovery":false},"formatSettings":{"type":"DelimitedTextReadSettings"}},"sink":{"type":"AzureSqlSink","writeBehavior":"upsert","upsertSettings":{"useTempDB":true,"keys":["transaction_id"]},"sqlWriterUseTableLock":false,"disableMetricsCollection":false},"enableStaging":false,"translator":{"type":"TabularTranslator","mappings":[{"source":{"name":"transaction_id","type":"String","physicalType":"String"},"sink":{"name":"transaction_id","type":"String","physicalType":"varchar"}},{"source":{"name":"customer_id","type":"String","physicalType":"String"},"sink":{"name":"customer_id","type":"String","physicalType":"varchar"}},{"source":{"name":"product_id","type":"String","physicalType":"String"},"sink":{"name":"product_id","type":"String","physicalType":"varchar"}},{"source":{"name":"quantity","type":"String","physicalType":"String"},"sink":{"name":"quantity","type":"Int32","physicalType":"int"}},{"source":{"name":"date","type":"String","physicalType":"String"},"sink":{"name":"date","type":"DateTime","physicalType":"date"}},{"source":{"name":"channel","type":"String","physicalType":"String"},"sink":{"name":"channel","type":"String","physicalType":"varchar"}},{"source":{"name":"campaign_id","type":"String","physicalType":"String"},"sink":{"name":"campaign_id","type":"String","physicalType":"varchar"}}],"typeConversion":true,"typeConversionSettings":{"allowDataTruncation":true,"treatBooleanAsNumber":false}}},"inputs":[{"referenceName":"transactions_csv_ds","type":"DatasetReference","parameters":{"lastLoadedDate":"@pipeline().parameters.lastLoadedDate"}}],"outputs":[{"referenceName":"transactions_sql_ds","type":"DatasetReference","parameters":{}}]},{"name":"GetLastLoadedDate","type":"Lookup","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":3,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"AzureSqlSource","sqlReaderQuery":"SELECT last_loaded_date FROM watermark_table WHERE table_name = 'transactions';","queryTimeout":"02:00:00","partitionOption":"None"},"dataset":{"referenceName":"watermark_ds","type":"DatasetReference","parameters":{}}}},{"name":"Stored procedure1","type":"SqlServerStoredProcedure","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":3,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"storedProcedureName":"[[dbo].[usp_MergeTransactions]"},"linkedServiceName":{"referenceName":"[parameters('azureSqlDbLS')]","type":"LinkedServiceReference"}},{"name":"UpdateWatermark","type":"SqlServerStoredProcedure","dependsOn":[{"activity":"CopyTransactionsData","dependencyConditions":["Completed"]}],"policy":{"timeout":"0.12:00:00","retry":3,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"storedProcedureName":"[[dbo].[usp_UpdateWatermark]"},"linkedServiceName":{"referenceName":"[parameters('azureSqlDbLS')]","type":"LinkedServiceReference"}}],"policy":{"elapsedTimeMetric":{}},"parameters":{"lastLoadedDate":{"type":"string","defaultValue":"2024-01-01T00:00:00Z"}},"annotations":[],"lastPublishTime":"2025-06-28T19:05:34Z"},"dependsOn":["[concat(variables('factoryId'), '/datasets/transactions_csv_ds')]","[concat(variables('factoryId'), '/datasets/transactions_sql_ds')]","[concat(variables('factoryId'), '/datasets/watermark_ds')]"]},{"name":"[concat(parameters('factoryName'), '/transactions_csv_ds')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('localFileSystemLS')]","type":"LinkedServiceReference"},"parameters":{"lastLoadedDate":{"type":"string"}},"annotations":[],"type":"DelimitedText","typeProperties":{"location":{"type":"FileServerLocation","fileName":"transactions.csv"},"columnDelimiter":",","escapeChar":"\\","firstRowAsHeader":true,"quoteChar":"\""},"schema":[{"name":"transaction_id","type":"String"},{"name":"customer_id","type":"String"},{"name":"product_id","type":"String"},{"name":"quantity","type":"String"},{"name":"date","type":"String"},{"name":"channel","type":"String"},{"name":"campaign_id","type":"String"}]},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/transactions_sql_ds')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('azureSqlDbLS')]","type":"LinkedServiceReference"},"annotations":[],"type":"AzureSqlTable","schema":[{"name":"transaction_id","type":"varchar"},{"name":"customer_id","type":"varchar"},{"name":"product_id","type":"varchar"},{"name":"quantity","type":"int","precision":10},{"name":"date","type":"date"},{"name":"channel","type":"varchar"},{"name":"campaign_id","type":"varchar"}],"typeProperties":{"schema":"dbo","table":"transactions"}},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/watermark_ds')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('azureSqlDbLS')]","type":"LinkedServiceReference"},"annotations":[],"type":"AzureSqlTable","schema":[{"name":"table_name","type":"nvarchar"},{"name":"last_loaded_date","type":"date"}],"typeProperties":{"schema":"dbo","table":"watermark_table"}},"dependsOn":[]}]}